<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/docs.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
    <title>Insert title here</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3" >
            <a th:each="oAuthService:${oAuthServices}"
               th:href="@{${oAuthService.authorizationUrl}}"
               href="#"
               class="btn btn-block btn-social "
               th:classappend="${'btn-' + oAuthService.oAuthType}" >
                <span class="fa "
                      th:classappend="${'fa-' + oAuthService.oAuthType}">
                </span> Sign in with GitHub
            </a>
        </div>
    </div>
</div>
<!--<form action="/register" method="POST">-->
    <!--<input type="text" name="username" th:value="${oAuthInfo.user.username}"></input>-->
    <!--<input type="password" name="password" ></input>-->
    <!--<input type="submit" value="提交"></input>-->
<!--</form>-->
</body>
</html>
