<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/docs.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
    <title>Insert title here</title>
</head>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3" >
            <a th:each="oAuthService:${oAuthServices}"
               th:href="@{${oAuthService.authorizationUrl}}"
               href="#"
               class="btn btn-block btn-social "
               th:classappend="${'btn-' + oAuthService.oAuthType}" >
                <span class="fa "
                      th:classappend="${'fa-' + oAuthService.oAuthType}">
                </span> Sign in with GitHub
            </a>
        </div>
    </div>
</div>
<br></br>
<br></br>
<div class="container">
    <form action="/register" method="POST">
        <div class="form-group">
            <div class="form-group">
                <label for="username">Password:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
